[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[user]
    name = tien-pan
    email = tien0601@gms.tku.edu.tw

[alias]
    st = status

[core]
    editor = C:\Users\User\AppData\Local\Programs\Microsoft VS Code\Code.exe -w